/*
Color Palette
main background: #FAB67D;
titles: #8F70FA;
text link: #CAF3F8
#FAD889
#BDB195
*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #FAB67D;
    color: #CAF3F8;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    color: #8F70FA;
    text-align: center;
}

.back-link {
    display: block;
    text-align: right;
    
}
.back-link button {
    font-size: 20px;
    color: #FAD889;
    background-color: #BDB195;
}

.back-link button a {
    color: #FAD889;
    background-color: #BDB195;
}

h2, h3 {
    color: #8F70FA;
    text-decoration: underline;
}

h3 {
    font-size: 17px;
}

.main-image {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-links-table {
    text-align: center;
}

.main-links-table ul {
    display: inline-block;
    text-align: left;
}

ul li a {
    text-decoration: none;
}



